@import "tailwindcss";


@theme {
  --color-brand: #15ADB7; 
  --color-brand-header: #03484D; 
  --color-brand-nav: #0E3B3E; 
  
  --color-grey: #ABA3A3;
  --color-grey-light: #AEAEAE; 
  --color-brand-accent: #00CAD7;
  --color-brand-accent-light: #0AAEB9;
  --color-brand-accent-dark: #15ADB7;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-roboto-mono);
  --font-gothic: var(--font-gothic);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
