@import "tailwindcss";


:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme {
  --color-brand: #15ADB7; 
  --color-brand-header: #03484D; 
  --color-brand-nav: #0E3B3E; 
  
  --color-grey: #ABA3A3;
  --color-grey-light: #AEAEAE; 
  --color-brand-accent: #00CAD7;
  --color-brand-accent-light: #0AAEB9;
  --color-brand-accent-dark: #15ADB7;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
